<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion-Based Music Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Emotion-Based Music Recommender</h1>
    <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480">
    <button id="stop">Stop</button>
    <div id="song-container"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
